<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas</title>
</head>
<body>

    <div>
        <a href="proyectoEva1\static\imaganes\i1.jpg"></a>
        <ul>
            <h1>Barbie y el Secreto de las Hadas</h1>
            <p>Barbie descubre un mundo secreto cuando Ken es transportado por un grupo de hadas. Junto con su rival Raquelle descubre que el poder de la amistad puede ser tan poderoso como la magia misma.</p>
            <h2>Valoración: 4</h2>
        </ul>
    </div>
    
    <div>
        <a href="proyectoEva1\static\imaganes\i1.jpg"></a>
        <ul>
            <h1>Barbie Fairytopia</h1>
            <p>Barbie descubre un mundo secreto cuando Ken es transportado por un grupo de hadas. Junto con su rival Raquelle descubre que el poder de la amistad puede ser tan poderoso como la magia misma.</p>
            <h2>Valoración: 5</h2>
        </ul>
    </div>

    <div>
        <a href="proyectoEva1\static\imaganes\i1.jpg"></a>
        <ul>
            <h1>Barbie y las 12 princesas bailarinas</h1>
            <p>Barbie descubre un mundo secreto cuando Ken es transportado por un grupo de hadas. Junto con su rival Raquelle descubre que el poder de la amistad puede ser tan poderoso como la magia misma.</p>
            <h2>Valoración: 0</h2>
        </ul>
    </div>
</body>
</html>